<form (ngSubmit)="onSubmit()">
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input [(ngModel)]=login class="form-control" name="login" type="text"/>
    <label class="form-label text-white">Login</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input [(ngModel)]=password class="form-control" name="passowrd" type="password"/>
    <label class="form-label text-white">Password</label>
  </div>

  <!-- Submit button -->
  <input class="btn btn-primary btn-block mb-4" type="submit" value="Sign In"/>
</form>
