<div class="content">
        <div class="messages">
                <div *ngFor="let message of messages">
                        <p>Autor: {{message.userName}} data: {{fixDate(message.date)}} - {{message.content}}</p>
                </div>
        </div>
        <div class="input-group input-group-lg fixed-bottom message-input">
                <input type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" name="newMessage" [(ngModel)] = newMessage>
                <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary btn-lg" type="button" (click) = "onSend()">Send</button>
                </div>
        </div>
</div>